* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
}

.header {
    width: 100%;
    height: 85px;
    display: flex;
    padding: 0% 85px;
    justify-content: space-between;
}

.head-left {
    width: 30%;
}

.logo {
    width: 216px;
    background: url(../img/Logo_CVP.png) no-repeat;
    background-position: center;
    background-size: 187px;
}

.select_district {
    width: 20%;
    display: flex;
    padding: 25px 0px;
    margin-right: 19%;
}

.select_district select {
    width: 100%;
    border: none;
    background: bisque;
    border-radius: 10px;
}

.head-left {
    width: 40%;
    display: flex;
}

.head-right {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.huong_dan {
    width: auto;
    display: flex;
    padding: 25px 0px;
    justify-content: center;
}

.tin_tuc {
    width: auto;
    display: flex;
    padding: 25px 0px;
    justify-content: center;
}

.notice {
    width: auto;
    display: flex;
    padding: 25px 0px;
    justify-content: center;
}

.taskbar a {
    padding-top: 5px;
    margin-right: 10px;
}

.text {
    margin-left: 10px;
}

.text button {
    border: none;
    background: none;
}

.info-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-custom .image img {
    width: 41px;
    height: 41px;
}

.drop-down {
    display: none;
    position: absolute;
    right: 10%;
    top: 69px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.drop-down img {
    padding-right: 10px;
}

.drop-down hr {
    margin-top: 10px;
}

.drop-down .saved,
.drop-down .history-buy,
.drop-down .up-user,
.drop-down .logout {
    padding-top: 10px;
}

.drop-down a {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    color: #666666;
}

.body {
    display: flex;
    flex-direction: row;
    padding: 0% 85px;
    margin-top: 4%
}

.box-left {
    width: 20%;
}

.box-left .wrap-box-left {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 5% 5%;
}

.box-left .wrap-box-left hr {
    margin-bottom: 10px;
}

.box-left .wrap-box-left .active {
    background: rgba(229, 229, 229, 0.36);
    border-radius: 10px;
}

.home,
.update-user,
.update-address,
.store-save {
    display: flex;
    margin-bottom: 10px;
    padding: 5px 10x;
}

.home .wrap,
.update-user .wrap,
.update-address .wrap,
.store-save .wrap {
    padding: 5px 10px;
}

.home .wrap>img,
.update-user .wrap>img,
.update-address .wrap>img,
.store-save .wrap>img {
    margin-top: -4px;
}

.home>img,
.update-user>img,
.update-address>img,
.store-save>img {
    object-fit: fill !important;
    margin-right: 10px;
}

.home>a,
.update-user>a,
.update-address>a,
.store-save>a {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    color: #666666;
}

.box-right {
    width: 76%;
    margin-left: 50px;
}

.box-right .title {
    margin-bottom: 35px;
}

.box-right .title .main-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 26px;
    /* identical to box height, or 73% */
    color: #2F2F2F;
    margin-bottom: 15px;
}

.box-right .title .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    color: #2F2F2F;
}

.box-right .table-reciever {
    width: 100%;
}

.box-right .table-reciever table {
    width: 100%;
}

.box-right .table-reciever table th {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    text-transform: uppercase;
    color: #2F2F2F;
    text-align: left;
    padding: 10px 0px;
}

.box-right .table-reciever table td {
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    color: #2F2F2F;
    text-align: left;
    padding: 10px 0px;
}

.box-right .table-reciever table .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-right .table-reciever table .option button {
    border: none;
    background: none;
}

.box-right .table-reciever table .option button img {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

.box-right .add-address {
    text-align: right;
    padding: 10px 45px;
}

.box-right .add-address span {
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    text-decoration-line: underline;
    color: #0067C3;
    cursor: pointer;
}

th {
    border-bottom: 1px solid #dddddd;
}

.btn_submit {
    display: flex;
}

.box-right .btn_submit .complete {
    margin-right: 13px;
    padding: 10px 20px;
    background: #F1F1F1;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    color: #666666;
}

.box-right .btn_submit .save {
    padding: 10px 20px;
    background: #F1F1F1;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    color: #666666;
}

.box-right .btn_submit .active {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    color: #FFFFFF;
    background: #4C5BD4;
}


/* =============================================Phần header-respon ====================== */

.icon-menu-header {
    background: url(../img/menu.svg) no-repeat;
    width: 40px;
    background-position: 50%;
    margin-left: 40px;
    display: none;
    border: none;
}

.menu-option {
    width: 100%;
    padding: 24px 32px;
    background: #FFFFFF;
    position: absolute;
    display: none;
    top: 96px;
}

.line-1,
.up-user {
    padding-bottom: 14px;
}

.saved,
.logout,
.history-buy,
.up-user,
.line-2 a {
    padding-top: 14px;
    color: #666666;
}

.color-menu-option a,
.line-1 a,
.line-2 a {
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}

.line-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.info-custom-menu .text-menu a,
.info-custom .text a {
    font-size: 16px;
    line-height: 25.5px;
    color: #666666;
    font-weight: 500;
}

.info-custom-menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}

.info-custom-menu .image-menu img {
    width: 30px;
    height: 30px;
}

.d-block {
    display: block;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.pagination .size {
    display: flex;
    flex-direction: row;
}

.pagination .size img {
    width: 24px;
    object-fit: fill !important;
    margin: 0px 12px;
}

.pagination .size button {
    padding: 4px 11px;
    margin: 0px 5px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.t_paginate_active {
    background: #FFAE28;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media only screen and (min-width: 1520px) {
    .header,
    .body {
        padding: 0% 10.55%;
    }
    .box-left {
        width: 24%;
    }
}

@media only screen and (max-width: 1024px) {
    /* respon-header-sau-đăng nhâp */
    .header {
        padding: 0%;
        height: unset;
    }
    .body {
        padding: 0% 75px;
    }
    .select_district,
    .huong_dan,
    .tin_tuc,
    .box-left {
        display: none;
    }
    .head-right {
        justify-content: end;
        margin-right: 32px;
    }
    .notice {
        margin-right: 8px;
        align-items: center;
    }
    .head-left {
        width: fit-content;
        display: flex;
        margin-left: 34%;
    }
    .icon-menu-header {
        display: block;
    }
    .box-right {
        width: 100%;
        margin-left: 0px;
    }
    .box-right .btn_submit .complete {
        padding: 10px 11px;
    }
    .box-right .add-address {
        text-align: right;
        padding: 5px 34px;
    }
    .box-right .btn_submit .save {
        padding: 10px 18px;
    }
    /* .menu-option {
        display: block;
    } */
    .info-custom-menu {
        display: none;
    }
    .logo {
        width: 216px;
        background-size: 216px;
    }
}

@media only screen and (max-width: 768px) {
    /* respon-header-sau-đăng nhâp */
    .header {
        padding: 0%;
        height: unset;
        margin-top: 26px;
    }
    .body {
        padding: 0% 32px;
        margin-top: 112px;
    }
    .select_district,
    .huong_dan,
    .tin_tuc,
    .box-left {
        display: none;
    }
    .head-right {
        justify-content: end;
        margin-right: 32px;
    }
    .notice {
        margin-right: 8px;
        align-items: center;
    }
    .head-left {
        width: fit-content;
        display: flex;
        margin-left: 22%;
    }
    .icon-menu-header {
        display: block;
    }
    /* =============kthuc repon header== */
    .box-right {
        width: 100%;
        margin-left: 0px;
    }
    .box-right .btn_submit .complete {
        padding: 10px 11px;
    }
    .box-right .add-address {
        text-align: right;
        padding: 5px 22px
    }
    .box-right .btn_submit .save {
        padding: 10px 18px;
    }
    .drop-down {
        right: 32px;
        top: 89px;
    }
    .drop-down hr {
        margin-top: 0px;
    }
    .info-custom-menu {
        display: none;
    }
    .logo {
        width: 142px;
        background-size: 142px;
    }
}

@media only screen and (max-width: 480px) {
    /* respon-header-sau-đăng nhâp */
    .header {
        padding: 0%;
        height: unset;
        margin-top: 26px;
        height: 69px;
    }
    .select_district,
    .huong_dan,
    .tin_tuc,
    .box-left {
        display: none;
    }
    .head-right {
        display: none;
    }
    .icon-menu-header {
        display: block;
    }
    .notice {
        margin-right: 8px;
        align-items: center;
    }
    .head-left {
        width: fit-content;
        display: flex;
        margin-left: 22%;
    }
    .icon-menu-header {
        display: block;
        margin-left: 23px;
    }
    /* keets thhu respo header */
    .body {
        padding: 0% 16px;
        margin-top: 85px;
    }
    .box-right {
        width: 100%;
        margin-left: 0px;
    }
    .box-right .btn_submit .complete {
        padding: 10px 11px;
    }
    .box-right .add-address {
        text-align: right;
        padding: 5px 22px
    }
    .box-right .btn_submit .save {
        padding: 10px 18px;
    }
    .info-custom-menu {
        display: flex;
    }
    tr>td:nth-child(2),
    tr>th:nth-child(2) {
        display: none;
    }
    .box-right .title .main-title {
        font-size: 30px;
    }
    .box-right .title .sub-title,
    .box-right .btn_submit .complete,
    .box-right .btn_submit .save,
    .box-right .table-reciever table th {
        font-size: 14px;
        line-height: 26px;
    }
    .box-right .add-address span,
    .box-right .table-reciever table td {
        font-size: 13px;
        line-height: 19px;
    }
    .box-right .table-reciever table .option button img {
        width: 18px;
        height: 18px;
        margin: 0px 5px;
    }
    .logo {
        width: 142px;
        background-size: 142px;
    }
}

@media only screen and (max-width: 375px) {
    /* respon-header-sau-đăng nhâp */
    .header {
        padding: 0%;
        height: unset;
        margin-top: 26px;
        height: 69px;
    }
    .select_district,
    .huong_dan,
    .tin_tuc,
    .box-left {
        display: none;
    }
    .head-right {
        display: none;
    }
    .icon-menu-header {
        display: block;
    }
    .notice {
        margin-right: 8px;
        align-items: center;
    }
    .head-left {
        width: fit-content;
        display: flex;
        margin-left: 22%;
    }
    .icon-menu-header {
        display: block;
        margin-left: 23px;
    }
    /* keets thhu respo header */
    .body {
        padding: 0% 16px;
        margin-top: 85px;
    }
    .box-right {
        width: 100%;
        margin-left: 0px;
    }
    .box-right .btn_submit .complete {
        padding: 10px 11px;
    }
    .box-right .add-address {
        text-align: right;
        padding: 5px 22px
    }
    .box-right .btn_submit .save {
        padding: 10px 18px;
    }
    .info-custom-menu {
        display: flex;
    }
    tr>td:nth-child(2),
    tr>th:nth-child(2) {
        display: none;
    }
    .box-right .title .main-title {
        font-size: 30px;
    }
    .box-right .title .sub-title,
    .box-right .btn_submit .complete,
    .box-right .btn_submit .save,
    .box-right .table-reciever table th {
        font-size: 14px;
        line-height: 26px;
    }
    .box-right .add-address span,
    .box-right .table-reciever table td {
        font-size: 13px;
        line-height: 19px;
    }
    .box-right .table-reciever table .option button img {
        width: 18px;
        height: 18px;
        margin: 0px 5px;
    }
    .logo {
        width: 142px;
        background-size: 142px;
    }
}