.popup_03 {
    display: none;
    position: fixed;
    padding: 10% 24%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.popup_dang_giao {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.popup_dang_giao .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.popup_dang_giao .title h2{
    font-weight: 500;
    font-size: 20px;
    color: #2F2F2F;
}
.close-btn {
    color: #2E2E2E;
    font-size: 25px;
    font-weight: 700;
}
.popup_dang_giao .content {
    display: flex;
    justify-content: space-between;
}
.popup_dang_giao .content .fet_01, .popup_dang_giao .content .fet_02{
    width: 49%;
}
.popup_dang_giao .content .fet_01 .map iframe{
    height: 200px;
    margin-bottom: 15px;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd{
    display: flex;
    margin-bottom: 11px;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd .icon_dd {
    width: 10%;
    background: url(../img/dan_duong.png) no-repeat;
    background-position: center 8%;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd .ct_dd {
    width: 90%;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd .ct_dd h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2F2F2F;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd .ct_dd .add_01 {
    margin-bottom: 7%;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd .ct_dd span {
    font-size: 12px;
    background: url(../img/add_icon.png) no-repeat;
    padding-left: 6%;
    background-position: left;
    background-size: 5%;
}
.popup_dang_giao .content .fet_01 .dan_duong .add_dd .ct_dd h3 {
    font-size: 12px;
    line-height: 14px;
    color: #4C5BD4;
}
.popup_dang_giao .content .fet_01 .dan_duong .khoang_cach span{
    font-size: 14px;
}
 .popup_dang_giao .content .fet_02 h2{
    font-weight: 500;
    font-size: 16px;
}
 .popup_dang_giao .content .fet_02 .mon_01 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #E5E5E5;
    padding: 1% 0%;
}
.popup_dang_giao .content .fet_02 .mon_01 .stt {
    background: #4C5BD4;
    border-radius: 5px;
    color: #ffffff;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_dang_giao .content .fet_02 .mon_01 .name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_dang_giao .content .fet_02 .bill{
    display: flex;
    margin-top: 6px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 6px;
}
.popup_dang_giao .content .fet_02 .bill .tit_bill, .popup_dang_giao .content .fet_02 .bill .gia_bill{
    width: 23%;
}
.popup_dang_giao .content .fet_02 .bill .tit_bill{
    text-align: left;
}
.popup_dang_giao .content .fet_02 .bill .gia_bill {
    width: 20%;
    margin-left: 56%;
    text-align: right;
}
.popup_dang_giao .content .fet_02 .bill .gia_bill span{
    font-weight: 500;
    font-size: 14px;
}
.popup_dang_giao .content .fet_02 .bill .tit_bill span, .popup_dang_giao .content .fet_02 .bill .gia_bill span{
    font-size: 14px;
    line-height: 35px;
}
.popup_dang_giao .content .fet_02 .total_bill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.popup_dang_giao .content .fet_02 .total_bill span{
    font-size: 14px;
}
.popup_dang_giao .content .fet_02 .total_bill a{
    font-weight: 700;
    font-size: 16px;
    color: #4C5BD4;
}
.popup_dang_giao .content .fet_02 .detail span, .popup_dang_giao .content .fet_02 .detail b, .popup_dang_giao .content .fet_02 .detail a{
    font-size: 14px;
}
.popup_dang_giao .content .fet_02 .detail .ly_do{
    display: flex;
    margin: 15px 0px;
}
.popup_dang_giao .content .fet_02 .detail .ly_do b{
    color: red;
    width: 45%;
    padding-top: 10px;
}
.popup_dang_giao .content .fet_02 .detail .ly_do a{
    background: #EFEFEF;
    border-radius: 10px;
    padding: 7px;
}
.popup_dang_giao .xac_nhan{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.popup_dang_giao .xac_nhan .not_done, .popup_dang_giao .xac_nhan .done {
    width: 49%;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 33px;
}
.popup_dang_giao .xac_nhan .not_done{
    background: #C4C4C4;
}
.popup_dang_giao .xac_nhan .done{
    background: #4C5BD4;
}
@media only screen and (min-width: 1520px){
    .popup_03 {
        padding: 10% 24%;
    }
    .popup_dang_giao .content .fet_02 .bill .tit_bill, .popup_dang_giao .content .fet_02 .bill .gia_bill {
        width: 88px;
    }
    .popup_dang_giao .content .fet_02 .bill .gia_bill {
        width: 76px;
    }
}
@media only screen and (max-width: 1025px){
    .popup_03 {
        padding: 10% 14%;
    }
}
@media only screen and (max-width: 769px){
    .popup_03 {
        padding: 10% 1%;
    }
}
@media only screen and (max-width: 481px){
    .popup_03 {
        padding: 23% 0% 0% 0%;
        background: none;
    }
    .close-btn-com {
        display: none;
    }
    .popup_dang_giao .content {
        display: block;
    }
    .popup_dang_giao .content .fet_01, .popup_dang_giao .content .fet_02 {
        width: 100%;
    }
}









.popup_04 {
    display: none;
    position: fixed;
    padding: 10% 24%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.popup_cho_xuly {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.popup_cho_xuly .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.popup_cho_xuly .title h2{
    font-weight: 500;
    font-size: 20px;
    color: #2F2F2F;
}
.close-btn {
    color: #2E2E2E;
    font-size: 25px;
    font-weight: 700;
}
.popup_cho_xuly .content {
    display: flex;
    justify-content: space-between;
}
.popup_cho_xuly .content .fet_01, .popup_cho_xuly .content .fet_02{
    width: 49%;
}
.popup_cho_xuly .content .fet_01 .map iframe{
    height: 200px;
    margin-bottom: 15px;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd{
    display: flex;
    margin-bottom: 11px;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd .icon_dd {
    width: 10%;
    background: url(../img/dan_duong.png) no-repeat;
    background-position: center 8%;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd .ct_dd {
    width: 90%;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd .ct_dd h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2F2F2F;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd .ct_dd .add_01 {
    margin-bottom: 7%;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd .ct_dd span {
    font-size: 12px;
    background: url(../img/add_icon.png) no-repeat;
    padding-left: 6%;
    background-position: left;
    background-size: 5%;
}
.popup_cho_xuly .content .fet_01 .dan_duong .add_dd .ct_dd h3 {
    font-size: 12px;
    line-height: 14px;
    color: #4C5BD4;
}
.popup_cho_xuly .content .fet_01 .dan_duong .khoang_cach span{
    font-size: 14px;
}
.popup_cho_xuly .content .fet_01 .dan_duong .khoang_cach .shipper{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #4C5BD4;
    background: none;
    border: none;
}
 .popup_cho_xuly .content .fet_02 h2{
    font-weight: 500;
    font-size: 16px;
}
 .popup_cho_xuly .content .fet_02 .mon_01 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #E5E5E5;
    padding: 1% 0%;
}
.popup_cho_xuly .content .fet_02 .mon_01 .stt {
    background: #4C5BD4;
    border-radius: 5px;
    color: #ffffff;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_cho_xuly .content .fet_02 .mon_01 .name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_cho_xuly .content .fet_02 .bill{
    display: flex;
    margin-top: 6px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 6px;
}
.popup_cho_xuly .content .fet_02 .bill .tit_bill, .popup_cho_xuly .content .fet_02 .bill .gia_bill{
    width: 23%;
}
.popup_cho_xuly .content .fet_02 .bill .tit_bill{
    text-align: left;
}
.popup_cho_xuly .content .fet_02 .bill .gia_bill {
    width: 20%;
    margin-left: 56%;
    text-align: right;
}
.popup_cho_xuly .content .fet_02 .bill .gia_bill span{
    font-weight: 500;
    font-size: 14px;
}
.popup_cho_xuly .content .fet_02 .bill .tit_bill span, .popup_cho_xuly .content .fet_02 .bill .gia_bill span{
    font-size: 14px;
    line-height: 35px;
}
.popup_cho_xuly .content .fet_02 .total_bill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.popup_cho_xuly .content .fet_02 .total_bill span{
    font-size: 14px;
}
.popup_cho_xuly .content .fet_02 .total_bill a{
    font-weight: 700;
    font-size: 16px;
    color: #4C5BD4;
}
.popup_cho_xuly .content .fet_02 .detail span, .popup_cho_xuly .content .fet_02 .detail b, .popup_cho_xuly .content .fet_02 .detail a{
    font-size: 14px;
}
.popup_cho_xuly .content .fet_02 .detail .ly_do{
    display: flex;
    margin: 15px 0px;
}
.popup_cho_xuly .content .fet_02 .detail .ly_do b{
    color: red;
    width: 45%;
    padding-top: 10px;
}
.popup_cho_xuly .content .fet_02 .detail .ly_do a{
    background: #EFEFEF;
    border-radius: 10px;
    padding: 7px;
}
.popup_cho_xuly .xac_nhan{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.popup_cho_xuly .xac_nhan .not_done, .popup_cho_xuly .xac_nhan .done {
    width: 49%;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 33px;
}
.popup_cho_xuly .xac_nhan .not_done{
    background: #C4C4C4;
}
.popup_cho_xuly .xac_nhan .done{
    background: #4C5BD4;
}
@media only screen and (min-width: 1520px){
    .popup_04 {
        padding: 10% 24%;
    }
    .popup_cho_xuly .content .fet_02 .bill .tit_bill, .popup_cho_xuly .content .fet_02 .bill .gia_bill {
        width: 88px;
    }
    .popup_cho_xuly .content .fet_02 .bill .gia_bill {
        width: 76px;
    }
}
@media only screen and (max-width: 1025px){
    .popup_04 {
        padding: 10% 14%;
    }
}
@media only screen and (max-width: 769px){
    .popup_04 {
        padding: 10% 1%;
    }
}
@media only screen and (max-width: 481px){
    .popup_04 {
        padding: 23% 0% 0% 0%;
        background: none;
    }
    .close-btn-com {
        display: none;
    }
    .popup_cho_xuly .content {
        display: block;
    }
    .popup_cho_xuly .content .fet_01, .popup_cho_xuly .content .fet_02 {
        width: 100%;
    }
}





.popup_huy {
    display: none;
    position: fixed;
    padding: 10% 24%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.popup_huy_don {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.popup_huy_don .tit_huy {
    display: flex;
    align-items: center;
    width: 100%;
    height: 39px;
    margin-bottom: 25px;
}
.popup_huy_don .tit_huy .icon{
    width: 3%;
    height: 100%;
    background: url(../img/warning-2.png) no-repeat;
    background-position: left;
}
.popup_huy_don .tit_huy h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #EB5757;
    margin-left: 1%;
}
.popup_huy_don .select_lydo{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}
.popup_huy_don .select_lydo span{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 15px;
}
.popup_huy_don .select_lydo select{
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.popup_huy_don .lydo_more span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #EB5757;
    padding-left: 7%;
    margin-right: 15px;
}
.popup_huy_don .lydo_more textarea{
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    padding: 15px 17px;
}
.popup_huy_don .canh_bao{
    text-align: center;
    padding: 25px 0px;
}
.popup_huy_don .canh_bao span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}
.popup_huy_don .action{
    width: 100%; 
    display: flex;
    justify-content: space-between;
}
.popup_huy_don .action .huy, .popup_huy_don .action .luu{
    width: 49%;
    height: 33px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}
.popup_huy_don .action .huy{
    background: #C4C4C4;
}
.popup_huy_don .action .luu{
    background: #4C5BD4;
}









.popup_succes {
    display: none;
    position: fixed;
    padding: 10% 35%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.popup_sc_don {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.popup_sc_don .gif_succes .gif {
    background: url(../img/e03680a71b8bfff4ce0163077d30b5cf.gif) no-repeat;
    background-position: center;
    background-size: 45%;
    width: 100%;
    height: 180px;
}
.popup_sc_don .gif_succes h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #2F2F2F;
    margin-bottom: 5%;
}
.popup_sc_don  .fet_02 h2{
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
}
 .popup_sc_don  .fet_02 .mon_01 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #E5E5E5;
    padding: 1% 0%;
}
.popup_sc_don  .fet_02 .mon_01 .stt {
    background: #4C5BD4;
    border-radius: 5px;
    color: #ffffff;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_sc_don  .fet_02 .mon_01 .name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_sc_don  .fet_02 .bill{
    display: flex;
    margin-top: 6px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 6px;
}
.popup_sc_don  .fet_02 .bill .tit_bill, .popup_sc_don  .fet_02 .bill .gia_bill{
    width: 23%;
}
.popup_sc_don  .fet_02 .bill .tit_bill{
    text-align: left;
}
.popup_sc_don  .fet_02 .bill .gia_bill {
    width: 20%;
    margin-left: 56%;
    text-align: right;
}
.popup_sc_don  .fet_02 .bill .gia_bill span{
    font-weight: 500;
    font-size: 14px;
}
.popup_sc_don  .fet_02 .bill .tit_bill span, .popup_sc_don  .fet_02 .bill .gia_bill span{
    font-size: 14px;
    line-height: 35px;
}
.popup_sc_don  .fet_02 .total_bill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.popup_sc_don  .fet_02 .total_bill span{
    font-size: 14px;
}
.popup_sc_don  .fet_02 .total_bill a{
    font-weight: 700;
    font-size: 16px;
    color: #4C5BD4;
}
.popup_sc_don  .fet_02 .detail span, .popup_sc_don  .fet_02 .detail b, .popup_sc_don  .fet_02 .detail a{
    font-size: 14px;
}
.popup_sc_don  .fet_02 .detail .ly_do{
    display: flex;
    margin: 15px 0px;
}
.popup_sc_don  .fet_02 .detail .ly_do b{
    color: red;
    width: 45%;
    padding-top: 10px;
}
.popup_sc_don  .fet_02 .detail .ly_do a{
    background: #EFEFEF;
    border-radius: 10px;
    padding: 7px;
}
.popup_sc_don .xac_nhan{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.popup_sc_don .xac_nhan .not_done, .popup_sc_don .xac_nhan .done {
    width: 49%;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 33px;
}
.popup_sc_don .xac_nhan .not_done{
    background: #C4C4C4;
}
.popup_sc_don .xac_nhan .done{
    background: #4C5BD4;
}
.popup_sc_don .dan_duong .add_dd{
    display: flex;
    margin-bottom: 11px;
}
.popup_sc_don .dan_duong .add_dd .icon_dd {
    width: 10%;
    background: url(../img/dan_duong.png) no-repeat;
    background-position: center 8%;
}
.popup_sc_don .dan_duong .add_dd .ct_dd {
    width: 90%;
}
.popup_sc_don .dan_duong .add_dd .ct_dd h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2F2F2F;
}
.popup_sc_don .dan_duong .add_dd .ct_dd .add_01 {
    margin-bottom: 7%;
}
.popup_sc_don .dan_duong .add_dd .ct_dd span {
    font-size: 12px;
    background: url(../img/add_icon.png) no-repeat;
    padding-left: 6%;
    background-position: left;
    background-size: 5%;
}
.popup_sc_don .dan_duong .add_dd .ct_dd h3 {
    font-size: 12px;
    line-height: 14px;
    color: #4C5BD4;
} 
.popup_sc_don .dan_duong .khoang_cach span{
    font-size: 14px;
}
.popup_sc_don .popup_succes_done button{
    width: 100%;
    height: 33px;
    background: #4C5BD4;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}
.popup_no_done button {
    background: #4C5BD4;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    width: 100%;
    height: 35px;
}










.popup_no {
    display: none;
    position: fixed;
    padding: 10% 35%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.popup_huy_don {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.popup_huy_don .gif_huy .gif {
    background: url(../img/852a827b6f7f4a9faba5514a5f9d0c5a.gif) no-repeat;
    background-position: center;
    background-size: 45%;
    width: 100%;
    height: 180px;
}
.popup_huy_don .gif_huy h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #2F2F2F;
    margin-bottom: 5%;
}
.popup_huy_don  .fet_02 h2{
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
}
 .popup_huy_don  .fet_02 .mon_01 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #E5E5E5;
    padding: 1% 0%;
}
.popup_huy_don  .fet_02 .mon_01 .stt {
    background: #4C5BD4;
    border-radius: 5px;
    color: #ffffff;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_huy_don  .fet_02 .mon_01 .name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_huy_don  .fet_02 .bill{
    display: flex;
    margin-top: 6px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 6px;
}
.popup_huy_don  .fet_02 .bill .tit_bill, .popup_huy_don  .fet_02 .bill .gia_bill{
    width: 23%;
}
.popup_huy_don  .fet_02 .bill .tit_bill{
    text-align: left;
}
.popup_huy_don  .fet_02 .bill .gia_bill {
    width: 20%;
    margin-left: 56%;
    text-align: right;
}
.popup_huy_don  .fet_02 .bill .gia_bill span{
    font-weight: 500;
    font-size: 14px;
}
.popup_huy_don  .fet_02 .bill .tit_bill span, .popup_huy_don  .fet_02 .bill .gia_bill span{
    font-size: 14px;
    line-height: 35px;
}
.popup_huy_don  .fet_02 .total_bill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.popup_huy_don  .fet_02 .total_bill span{
    font-size: 14px;
}
.popup_huy_don  .fet_02 .total_bill a{
    font-weight: 700;
    font-size: 16px;
    color: #4C5BD4;
}
.popup_huy_don  .fet_02 .detail span, .popup_huy_don  .fet_02 .detail b, .popup_huy_don  .fet_02 .detail a{
    font-size: 14px;
}
.popup_huy_don  .fet_02 .detail .ly_do{
    display: flex;
    margin: 15px 0px;
}
.popup_huy_don  .fet_02 .detail .ly_do b{
    color: red;
    width: 45%;
    padding-top: 10px;
}
.popup_huy_don  .fet_02 .detail .ly_do a{
    background: #EFEFEF;
    border-radius: 10px;
    padding: 7px;
}
.popup_huy_don .xac_nhan{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.popup_huy_don .xac_nhan .not_done, .popup_huy_don .xac_nhan .done {
    width: 49%;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 33px;
}
.popup_huy_don .xac_nhan .not_done{
    background: #C4C4C4;
}
.popup_huy_don .xac_nhan .done{
    background: #4C5BD4;
}
.popup_huy_don .dan_duong .add_dd{
    display: flex;
    margin-bottom: 11px;
}
.popup_huy_don .dan_duong .add_dd .icon_dd {
    width: 10%;
    background: url(../img/dan_duong.png) no-repeat;
    background-position: center 8%;
}
.popup_huy_don .dan_duong .add_dd .ct_dd {
    width: 90%;
}
.popup_huy_don .dan_duong .add_dd .ct_dd h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2F2F2F;
}
.popup_huy_don .dan_duong .add_dd .ct_dd .add_01 {
    margin-bottom: 7%;
}
.popup_huy_don .dan_duong .add_dd .ct_dd span {
    font-size: 12px;
    background: url(../img/add_icon.png) no-repeat;
    padding-left: 6%;
    background-position: left;
    background-size: 5%;
}
.popup_huy_don .dan_duong .add_dd .ct_dd h3 {
    font-size: 12px;
    line-height: 14px;
    color: #4C5BD4;
}
.popup_huy_don .dan_duong .khoang_cach span{
    font-size: 14px;
}
.popup_huy_don .popup_no_done button{
    width: 100%;
    height: 33px;
    background: #4C5BD4;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}













.popup_shipper {
    display: none;
    position: fixed;
    padding: 10% 25%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.infor_shipper {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
}
.infor_shipper .infor{
    width: 60%;
}
.infor_shipper .infor h2{
    font-weight: 500;
    font-size: 35px;
    line-height: 26px;
}
.infor_shipper .infor span.h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
}
.infor_shipper .infor .name_ship span, .infor_shipper .infor .phone span{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.infor_shipper .infor .name_ship, .infor_shipper .infor .phone{
    
    margin-bottom: 5%;
}
.infor_shipper .infor .name_ship input, .infor_shipper .infor .phone input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 3%;
    border: 2px solid #C4C4C4;
}
.infor_shipper .infor .name_ship input::placeholder , .infor_shipper .infor .phone input::placeholder{
    font-weight: 300;
    font-size: 16px;
    color: #C4C4C4;
}
.infor_shipper .infor .action{
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
}
.infor_shipper .infor button{
    width: 49%;
    height: 33px;
    border: none;
    border-radius: 10px;
}
.infor_shipper .infor .back{
    background: #F3F3F3;
    color: #979797;
}
.infor_shipper .infor .save{
    background: #4C5BD4;
    color: #ffffff;
}
.infor_shipper .banner_ship{
    width: 38%;
    margin-left: 2%;
}
.infor_shipper .banner_ship .close{
    width: 100%;
    text-align: right;
}
.infor_shipper .banner_ship .banner{
    width: 100%;
    height: 90%;
    text-align: right;
    background: url(../img/shipper_move.gif) no-repeat;
    background-position: bottom;
    background-size: 100%;
}
span.error_message {
    color: red;
    font-style: italic;
    margin-left: 1%;
}




@media only screen and (min-width: 1520px){
    .popup_sc_don .gif_succes .gif {
        height: 210px;
    }
    .popup_huy_don .gif_huy .gif {
        background-size: 40%;
        height: 210px;
    }
}
@media only screen and (max-width: 1025px){
    .popup_shipper {
        padding: 10% 14%;
    }
    .popup_huy {
        padding: 10% 14%;
    }
    .popup_no {
        padding: 10% 30%;
    }
    .popup_succes {
        padding: 10% 30%;
    }
}
@media only screen and (max-width: 769px){
    .infor_shipper .infor h2 {
        font-size: 24px;
        line-height: 20px;
    }
    .infor_shipper .infor span.h2 {
        font-size: 14px;
        line-height: 50px;
    }
    .popup_huy_don .tit_huy {
        margin-bottom: 5px;
    }
    .popup_huy_don .tit_huy .icon {
        width: 5%;
    }
    .popup_no {
        padding: 0% 24%;
    }
    .popup_succes {
        padding: 0% 24%;
    }
}
@media only screen and (max-width: 481px){
    .infor_shipper .banner_ship {
        display: none;
    }
    .infor_shipper .infor {
        width: 100%;
    }
    .popup_04 {
        padding: 0% 0% 0% 0%;
    }
    .popup_03 {
        padding: 0% 0% 0% 0%;
    }
    .popup_02 {
        padding: 0% 0% 0% 0%;
    }
    .popup {
        padding: 0% 0% 0% 0%;
    }
    .popup_huy_don .lydo_more textarea {
        width: 70%;
    }
    .popup_huy {
        padding: 0% 0%;
    }
    .popup_no {
        padding: 0% 0%;
    }
    .popup_succes {
        padding: 0% 0%;
    }
    .popup_huy_don .gif_huy .gif {
        background-size: 40%;
    }
}
@media only screen and (max-width: 376px){
    .popup_dang_giao .xac_nhan .not_done, .popup_dang_giao .xac_nhan .done {
        height: 50px;
    }
    .popup_shipper {
        padding: 10% 0%;
    }
    .popup_huy_don .tit_huy .icon {
        width: 9%;
    }
    .popup_huy_don .lydo_more textarea {
        width: 60%;
    }
}




