        /* Poppup detail lịch sử đơn hàng  */
        
        .popup-detail {
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            top: 0%;
            z-index: 9;
            position: fixed;
        }
        
        .popup-detail .wrap-popup-detail {
            background: #FFFFFF;
            /* background: #FFFFFF; */
            border-radius: 10px;
            max-width: 688px;
            margin: 0px auto;
            padding: 15px;
            position: absolute;
            top: 18%;
            left: 27%;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-title {
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-title .icon-close-popup {
            width: 15px;
            height: 17px;
            background: url(../img/close-square.svg) no-repeat;
            display: flex;
            align-items: center;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-title p {
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            /* identical to box height, or 128% */
            color: #2F2F2F;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-body {
            width: 100%;
            display: flex;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-body .address-order {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-right: 7.5px;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-body .address-order .gg-map {
            width: 100%;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-body .address-order .gg-map img {
            width: auto;
        }
        
        .add-store {
            background: url(../img/Line-doc.png) no-repeat;
            background-position: 5px 10px;
            padding-bottom: 20px;
        }
        
        .popup-detail .wrap-popup-detail .pp-detail-body .add-store-order .add-store .name_store {
            display: flex;
            margin-top: 15px;
            margin-bottom: 6px;
        }
        
        span.name_mechart {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #2F2F2F;
            padding-left: 8px;
        }
        
        .img-status-done {
            /* display: flex; */
            background: url(../img/circle-green.svg) no-repeat;
            width: 12px;
        }
        
        .img-status-warning {
            background: url(../img/circle-orange.svg) no-repeat;
            width: 12px;
            background-position: 0px 0px;
            background-size: 12px 16px;
        }
        
        .address-store {
            display: flex;
            padding-left: 8px;
            margin-top: 6px;
        }
        
        .add-store-detail {
            display: flex;
            margin-left: 16px;
        }
        
        .icon-add {
            background: url(../img/add_icon.png) no-repeat;
            background-size: 13px 13px;
            width: 15px;
            height: 15px;
        }
        
        .store-detail,
        .wrap-address-order span {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #2F2F2F;
        }
        
        .name_order {
            background: url(../img/Line-doc.png) no-repeat;
            background-position: 5px;
        }
        
        .wrap-add-order {
            display: flex;
        }
        
        .wrap-address-order {
            display: flex;
            padding-left: 16px;
            margin-top: 6px;
        }
        
        .wrap-add-order .order {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #2F2F2F;
            padding-left: 8px;
        }
        
        .wrap-add-order-change {
            display: flex;
            flex-direction: column;
        }
        
        .wrap-address-order .wrap-add-order-change>span {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            color: #2F2F2F;
        }
        
        .wrap-address-order .wrap-add-order-change .change-add {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            color: #4C5BD4;
            margin-top: 5px;
            cursor: pointer;
        }
        
        .distance {
            padding-top: 11px;
        }
        
        .distance p {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #2F2F2F;
        }
        
        .distance p span {
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            text-align: right;
            color: #F24236;
        }
        
        .detail-order {
            width: 50%;
            padding-left: 7.5px;
        }
        
        .detail-order .title p {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            /* identical to box height, or 159% */
            color: #2F2F2F;
        }
        
        .detail-order .detail {
            width: 100%;
        }
        
        .detail-order .detail ul.list-order li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 0.5px solid #E5E5E5;
        }
        
        .detail-order .detail ul.list-order li .left {
            display: flex;
            width: 60%;
        }
        
        .detail-order .detail ul.list-order li .left .num-od {
            width: 24px;
            height: 20px;
            background: #4C5BD4;
            border-radius: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .detail-order .detail ul.list-order li .left .name-od {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #2F2F2F;
            padding-left: 7px;
        }
        
        .detail-order .detail ul.list-order li .right {
            width: 30%;
            justify-content: end;
            display: flex;
        }
        
        .detail-order .detail ul.list-order li .right .money {
            text-align: right;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: right;
            color: #2F2F2F;
        }
        
        .detail-order .detail .total {
            border-bottom: 0.5px solid #E5E5E5;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        
        .detail-order .detail .total .name-total {
            display: flex;
            justify-content: space-between;
        }
        
        .detail-order .detail .total .name-total p {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            color: #2F2F2F;
        }
        
        .detail-order .detail .total .name-total .num-od-total {
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            text-align: right;
            color: #2F2F2F;
        }
        
        .percert {
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            text-align: right;
            color: #F24236;
        }
        
        .money-total-all,
        .money-ship,
        .money-sale,
        .detail-order .detail .total .name-total .total-all p {
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            text-align: right;
            color: #2F2F2F;
        }
        
        .total-all-order,
        .sale-percent,
        .fee-ship,
        .sale {
            display: flex;
            justify-content: space-between;
        }
        
        .total-all-order span,
        .sale-percent span,
        .fee-ship span,
        .sale span {
            font-size: 14px;
            line-height: 26px;
            text-align: right;
            color: #2F2F2F;
        }
        
        .note-popup {
            margin-top: 20px;
            margin-bottom: 15px;
        }
        
        .note-popup p {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            color: #2F2F2F;
        }
        
        .name-why-destroy {
            width: 30%;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 182% */
            color: #EB5757;
            width: 98px;
        }
        
        .because-destroy {
            width: 228px;
            background: #EFEFEF;
            border-radius: 10px;
        }
        
        .d-block {
            display: block;
        }
        
        .popup-quan-an-order {
            display: none;
        }
        
        .note-popup {
            width: 100%;
        }
        
        .btn_submit {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .btn_submit .pp_cancle {
            width: 49%;
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            background: #C4C4C4;
            border-radius: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 149%;
            letter-spacing: 0.25px;
            color: #FFFFFF;
            border: none;
        }
        
        .btn_submit .pp_cancle:hover {
            background: #F24236;
        }
        
        .detail-order .btn_verify {
            width: 50%;
            border: none;
            background: #4C5BD4;
            border-radius: 5px;
            padding: 4.5px 0px;
            font-weight: 400;
            font-size: 16px;
            line-height: 149%;
            /* identical to box height, or 24px */
            letter-spacing: 0.25px;
            color: #FFFFFF;
        }
        
        .contect-mechart p {
            color: green;
            text-align: center;
            font-size: 14px;
            line-height: 26px;
        }
        
        .why-destroy {
            display: flex;
            margin-bottom: 5px;
            justify-content: space-between;
        }
        
        .because-destroy p {
            padding: 5px;
            font-size: 14px;
            line-height: 26px;
            color: #666666;
            font-family: 400;
        }
        
        .note-status {
            background: #f3f3f3;
            padding: 5px 10px;
            border-radius: 10px;
            margin: 20px 0px;
        }
        
        .note-status p {
            font-size: 14px;
            line-height: 26px;
            font-family: 400;
            color: #666666;
        }
        
        .d-none {
            display: none;
        }
        
        @media only screen and (min-width: 1520px) {
            .popup-detail .wrap-popup-detail {
                left: 30%;
                right: 30%;
                top: 15%;
            }
        }
        
        @media only screen and (max-width: 1024px) {
            .popup-detail .wrap-popup-detail {
                left: 19%;
                right: 19%;
                top: 15%;
            }
        }
        
        @media only screen and (max-width: 768px) {
            .popup-detail .wrap-popup-detail {
                left: 5.5%;
                right: 5.5%;
                top: 20%;
            }
        }
        
        @media only screen and (max-width: 480px) {
            .popup-detail .wrap-popup-detail {
                left: 5.5%;
                right: 5.5%;
                top: 20%;
                width: 100%;
                background: #FFFFFF;
                height: 590px;
            }
            .popup-detail .wrap-popup-detail .pp-detail-body {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                position: relative;
            }
            .detail-order,
            .popup-detail .wrap-popup-detail .pp-detail-body .address-order {
                width: 100%;
                margin-top: 0px;
            }
            .popup-detail {
                width: 100%;
                height: 100%;
                position: absolute;
                background: none;
                top: 0%;
                z-index: 9;
                /* position: fixed; */
                position: unset;
            }
            .popup-detail .wrap-popup-detail {
                left: 0;
                top: 85px;
                margin-top: 40px;
            }
            .popup-detail .wrap-popup-detail .pp-detail-title .icon-close-popup {
                display: none;
            }
            .popup-detail .wrap-popup-detail .pp-detail-title {
                justify-content: center;
            }
            .popup-detail .wrap-popup-detail .pp-detail-title p {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 10px;
            }
            .popup-detail .wrap-popup-detail .pp-detail-body .address-order .gg-map {
                display: none;
            }
            .popup-quan-an-order {
                display: block;
            }
            .ten-quan-an {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
            .ten-quan-an>p {
                line-height: 25px;
                font-size: 25px;
                font-weight: 500;
            }
            .pp-time-order {
                line-height: 12px;
                font-size: 14px;
                font-weight: 400;
                padding: 10px 0px 20px 0px;
            }
            .why-destroy {
                display: flex;
                position: absolute;
                bottom: -70px;
                left: 0;
            }
            .note-popup {
                margin-top: 0;
                margin-bottom: 015px;
            }
            .because-destroy {
                width: 77%;
                background: #EFEFEF;
                border-radius: 10px;
            }
            .name-why-destroy {
                width: 30%;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: #EB5757;
                width: 98px;
                width: 23%;
            }
            .why-destroy {
                display: flex;
                position: absolute;
                bottom: -70px;
                left: 0;
                width: 100%;
            }
            .because-destroy p {
                padding: 5px 10px;
            }
            .contect-mechart p {
                position: absolute;
                bottom: -70px;
                left: 0;
                width: 100%;
            }
            .note-status {
                position: absolute;
                bottom: -60px;
                left: 0;
                width: 100%;
            }
            .btn_submit {
                position: absolute;
                bottom: -120px;
                left: 0;
            }
            .detail-order .btn_verify {
                width: 50%;
                left: 50%;
                padding: 10px 0px;
            }
            .detail-order .title {
                display: none;
            }
        }
        
        @media only screen and (max-width: 375px) {
            .contect-mechart p {
                bottom: -100px;
            }
            .btn_submit {
                position: absolute;
                bottom: -150px;
                left: 0;
            }
            .name-why-destroy {
                width: 30%;
            }
            .because-destroy {
                width: 70%;
                background: #EFEFEF;
                border-radius: 10px;
            }
        }