    .popup-assess {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        top: 0%;
        z-index: 9;
        position: fixed;
        left: 0;
        overflow: auto;
    }
    
    .popup-assess .wrap-popup-assess {
        border-radius: 10px;
        max-width: 475px;
        margin: 0px auto;
        padding: 15px;
        background: #FFFFFF;
        position: absolute;
        top: 25px;
        left: 0%;
        right: 0%;
    }
    
    .contactShip p,
    .contactShip p span {
        font-size: 14px;
    }
    
    .popup-assess .wrap-popup-assess .pp-assess-title {
        display: flex;
        flex-direction: row;
        margin-bottom: 17px;
    }
    
    .popup-assess .wrap-popup-assess .pp-assess-title .icon-title {
        width: 23px;
        height: 23px;
        background: url(../img/like-shapes.svg) no-repeat;
    }
    
    .popup-assess .wrap-popup-assess .pp-assess-title .title-assess {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height, or 128% */
        color: #4C5BD4;
        padding-left: 12px;
    }
    
    .list-mon-an {
        display: flex;
        margin-bottom: 10px;
    }
    
    .list-mon-an .img_mon_an {
        width: 100px;
        height: 70px;
        border-radius: 10px;
        margin-right: 10px;
    }
    
    .list-mon-an .img_mon_an img {
        border-radius: 10px;
        width: 100%;
    }
    
    .list-mon-an .img_mon_an {
        width: 25%;
    }
    
    .list-mon-an .info_mon_an {
        width: 75%;
    }
    
    .list-mon-an .info_mon_an .name_mon_an {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }
    
    .list-mon-an .info_mon_an .name_mon_an .name {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        color: #E63950;
    }
    
    .list-mon-an .info_mon_an .name_mon_an .num_mon_an {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: #4C5BD4;
    }
    
    .list-mon-an .info_mon_an .detail_mon_an p {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #2F2F2F;
    }
    
    .see-more {
        text-align: right;
        margin-bottom: 10px;
        border-bottom: 1px solid #F3F3F3;
        padding: 10px;
    }
    
    .see-more a {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;
        color: #4C5BD4;
    }
    
    video#myimg {
        width: 100%;
    }
    
    .feedback-tieu-chi {
        display: flex;
        border-bottom: 1px solid #F3F3F3;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .feedback-tieu-chi .name_tieu_chi {
        width: 38%;
    }
    
    .feedback-tieu-chi .name_tieu_chi p {
        font-weight: 500;
        font-size: 14px;
        line-height: 149%;
        /* identical to box height, or 21px */
        letter-spacing: 0.25px;
        color: #2F2F2F;
    }
    
    .feedback-tieu-chi .fb-star {
        width: 62%;
    }
    
    .feedback-tieu-chi .fb-star .quality,
    .feedback-tieu-chi .fb-star .waitress,
    .feedback-tieu-chi .fb-star .price {
        display: flex;
    }
    
    .feedback-tieu-chi .fb-star .quality span,
    .feedback-tieu-chi .fb-star .waitress span,
    .feedback-tieu-chi .fb-star .price span {
        width: 100px;
        font-weight: 400;
        font-size: 14px;
        line-height: 149%;
        /* identical to box height, or 21px */
        letter-spacing: 0.25px;
        color: #2F2F2F;
    }
    
    .comment {
        border-bottom: 1px solid #F3F3F3;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    .comment .title-cmt p {
        font-weight: 500;
        font-size: 14px;
        line-height: 149%;
        /* identical to box height, or 21px */
        letter-spacing: 0.25px;
        color: #2F2F2F;
    }
    
    .comment .content-cmt {
        background: #F3F3F3;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 5px;
    }
    
    .comment .content-cmt p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 182% */
        text-align: justify;
        color: #2F2F2F;
    }
    
    .add-vide-image .title-vide-img p {
        font-weight: 500;
        font-size: 14px;
        line-height: 149%;
        /* identical to box height, or 21px */
        letter-spacing: 0.25px;
    }
    
    .add-vide-image .content-vide-img {
        display: flex;
        padding: 5px 23.5px;
    }
    
    .add-vide-image .content-vide-img .img-video {
        width: 27%;
        height: 80px;
    }
    
    .add-vide-image .content-vide-img .img-video img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .add-vide-image .content-vide-img .brand {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 73%;
        padding-left: 20px;
        position: relative;
    }
    
    .add-vide-image .content-vide-img .brand label {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #4C5BD4;
    }
    
    select {
        -webkit-appearance: none;
        appearance: none;
        padding: 0px 38px 0px 10px;
        border: none;
        /* margin-left: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        gap: 10px;
        width: 120px;
        background: #F3F3F3;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #2F2F2F;
    }
    
    .add_img {
        display: flex;
        padding: 0px 0px 5px 10px;
        margin-left: 23.5px;
        margin-top: 10px;
        background: #F3F3F3;
        border-radius: 5px;
        border: none;
    }
    
    .add_video {
        display: flex;
        padding: 5px 10px 5px 10px;
        margin-left: 23.5px;
        margin-top: 10px;
        background: #F3F3F3;
        border-radius: 5px;
        border: none;
        position: relative;
    }
    
    input#imageFileVD {
        width: 114px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    .add_img span {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        padding-left: 10px;
    }
    
    .add_video span {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        padding-left: 10px;
    }
    
    .icon-add-img {
        background: url(../img/add-img.svg) no-repeat;
        width: 16px;
        /* background-position: 0px 4px; */
        height: 16px;
    }
    
    .icon-add-video {
        background: url(../img/add-video.svg) no-repeat;
        width: 16px;
        /* background-position: 0px 4px; */
        height: 16px;
    }
    
    .add-list-like {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 30px 0px;
        align-items: center;
    }
    
    .add-list-like .name-add-list-like {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #E63950;
    }
    
    .add-list-like button {
        border: none;
        background: none;
    }
    /*     
    .icon-img-like {
        background: url(../img/like-food.svg  ) no-repeat;
        width: 20px;
        height: 20px;
    } */
    
    .btn_cancle_save {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .btn_submit .cancle,
    .btn_cancle_save .cancle {
        width: 49%;
        display: flex;
        justify-content: center;
        padding: 5px 0px;
        background: #C4C4C4;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 149%;
        /* identical to box height, or 24px */
        letter-spacing: 0.25px;
        color: #FFFFFF;
        border: none;
    }
    
    .btn_submit .cancl:hover,
    .btn_cancle_save .cancle:hover {
        background: #F24236;
    }
    
    .btn_submit .save,
    .btn_cancle_save .save_feedback {
        width: 49%;
        display: flex;
        justify-content: center;
        padding: 5px 0px;
        background: #4C5BD4;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 149%;
        /* identical to box height, or 24px */
        letter-spacing: 0.25px;
        color: #FFFFFF;
        border: none;
    }
    
    .addimg {
        display: flex;
        position: relative;
    }
    
    .addimg button:nth-child(2) {
        border: none;
        background: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        padding-left: 10px;
        padding-top: 6px;
    }
    
    input#anh_dai_dien {
        position: absolute;
        top: 7px;
        left: 33px;
        opacity: 0;
        width: 93px;
    }
    
    .appenImgVideo {
        overflow: scroll;
        max-height: 250px;
    }
    
    .body .table-reciever table td.text-destroy {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 159% */
        color: #F24236;
    }
    
    .star>input {
        position: absolute;
        opacity: 0;
    }
    
    .star>input:checked~label,
    .star:not(:checked)>label:hover,
    .star:not(:checked)>label:hover~label {
        color: #FFD700;
    }
    
    .star>label:before {
        margin-top: -15px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\2605";
        font-size: 25px;
        padding-right: 10px;
        /* color: gray; */
    }
    
    .star>label {
        color: #ddd;
        float: right;
    }
    
    .why-destroy {
        width: 100%;
        display: flex;
        margin-bottom: 15px
    }
    
    .content-cmt textarea {
        width: 100%;
        border: none;
        border-radius: 10px;
        background: #f3f3f3;
        padding: 5px;
    }
    
    .name-why-destroy {
        width: 30%;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* identical to box height, or 182% */
        color: #EB5757;
        width: 98px;
    }
    
    .because-destroy {
        width: 228px;
        background: #EFEFEF;
        border-radius: 10px;
    }
    
    .because-destroy p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 182% */
        color: #666666;
        padding: 1px 10px;
    }
    
    .ic-dr-down {
        background: url(../img/drop-down.svg) no-repeat;
        width: 15px;
        height: 15px;
        position: absolute;
        background-position: center;
        right: 5px;
    }
    
    @media only screen and (min-width: 1520px) {}
    
    @media only screen and (max-width: 1024px) {}
    
    @media only screen and (max-width: 768px) {}
    
    @media only screen and (max-width: 480px) {
        .popup-assess {
            top: 95px;
            background: none;
        }
        .popup-assess .wrap-popup-assess {
            top: 0;
            left: 0%;
            right: 0%;
            border-radius: 0;
            max-width: 100%;
        }
        .list-mon-an .info_mon_an .name_mon_an .name {
            font-size: 14px;
            line-height: 16px;
        }
        .see-more a {
            font-size: 12px;
            line-height: 14px;
        }
        .feedback-tieu-chi .name_tieu_chi p {
            font-size: 14px;
            line-height: 21px;
        }
        .feedback-tieu-chi .fb-star .quality span,
        .feedback-tieu-chi .fb-star .waitress span,
        .feedback-tieu-chi .fb-star .price span {
            font-size: 13px;
            line-height: 19px;
        }
        .feedback-tieu-chi .fb-star .quality,
        .feedback-tieu-chi .fb-star .waitress,
        .feedback-tieu-chi .fb-star .price {
            display: flex;
            justify-content: space-between;
        }
        .add-list-like {
            margin: 0;
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: 30px;
            border-top: 1px solid #F3F3F3;
        }
    }