.cvp {
    width: 100%;
    margin: 4% 8% 1% 12%;
    display: none;
}

.content {
    width: 100%;
    padding: 4% 7% 1% 7%;
    display: flex;
    flex-direction: row;
}

.content-left {
    height: 100%;
    width: auto;
    margin-right: 16px;
}

.content-right {
    width: 50%;
    position: relative;
}

.content-right .back-home {
    display: flex;
    justify-content: start;
    align-items: center;
    /* background: rgba(255, 174, 40, 0.1); */
    background: rgba(247, 152, 0, 0.42);
    border-radius: 30px;
    width: fit-content;
    padding: 1% 3%;
    margin-bottom: 7%;
}

.content-right .back-home a {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 159% */
    text-align: center;
    color: #FBAD2B;
    padding-right: 10px;
}

.content-right .ctr-title .title {
    font-weight: 600;
    font-size: 35px;
    line-height: 26px;
    /* identical to box height, or 73% */
    color: #2F2F2F;
    margin-bottom: 3.5%;
}

.content-right .ctr-title .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* or 24px */
    letter-spacing: 0.25px;
    color: #2F2F2F;
    margin-bottom: 6%;
}

.content-right .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    position: relative;
}

.content-right .form-group .input {
    display: flex;
}

.content-right .form-group label {
    font-weight: 500;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    margin-bottom: 1%;
}

.content-right .form-group input {
    border: 1px solid #C4C4C4;
    padding: 1.5% 5%;
    border-radius: 10px;
    width: 100%;
}

.content-right .form-group .input {
    display: flex;
}

.content-right .form-group .show-verify {
    position: absolute;
    top: 11px;
    right: 10px;
}

#icon_error_veryfi_code>img,
#icon_error_password>img,
#icon_error_re_password>img {
    margin-top: 8px;
}

.relative {
    position: relative;
    width: 100%;
}

.btn-restore-pass {
    background: #4C5BD4;
    border-radius: 10px;
    width: 100%;
    padding: 2%;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.error_message {
    padding-top: 5px;
    font-size: 14px;
    line-height: 149%;
    /* identical to box height, or 21px */
    letter-spacing: 0.25px;
    color: #F24236;
}

.color_error {
    color: #F24236;
}

.star_red {
    color: red;
}

.license {
    margin-top: 10%;
}

.content-right .license>span {
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    color: #C4C4C4;
}

.get-verify-code {
    text-align: right;
    margin-bottom: 5%;
}

.get-verify-code button {
    font-weight: 400;
    font-size: 14px;
    line-height: 149%;
    letter-spacing: 0.25px;
    text-decoration-line: underline;
    color: #0067C3;
    border: none;
    background: none;
}

::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 149%;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    color: #C4C4C4;
    /* Firefox */
}

@media only screen and (min-width: 1520px) {
    .taskbar {
        padding: 0% 6%;
    }
    .content {
        padding: 4% 8% 1% 7%;
    }
}

@media only screen and (max-width: 1024px) {
    .content {
        padding: 4% 60px 1% 60px;
    }
    .content-right .form-group .show-verify {
        top: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 4% 4% 1% 4%;
    }
    .cvp {
        display: block;
        margin: 10% 3% 5% 3%;
    }
    .content-right .back-home {
        display: none;
    }
    .content-left {
        display: none;
    }
    .content-right {
        width: 100%;
        position: relative;
    }
    .content-right .form-group .show-verify {
        top: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 4% 3% 1% 3%;
    }
    .content-left {
        display: none;
    }
    .content-right {
        width: 100%;
        position: relative;
    }
    .content-right .form-group .show-verify {
        top: 8px;
    }
    .content-right .form-group label {
        font-size: 14px;
        line-height: 149%;
    }
    .error_message {
        font-size: 12px;
        line-height: 149%;
    }
    .content-right .ctr-title .title {
        font-size: 30px;
        line-height: 26px;
    }
    .cvp {
        display: block;
        margin: 10% 3% 5% 3%;
    }
    .content-right .back-home {
        display: none;
    }
    ::-webkit-input-placeholder {
        font-weight: 300;
        font-size: 14px;
        line-height: 149%;
        /* identical to box height, or 21px */
        letter-spacing: 0.25px;
        color: #C4C4C4;
    }
    .content-right .ctr-title .sub-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */
        letter-spacing: 0.25px;
        color: #2F2F2F;
    }
}

@media only screen and (max-width: 375px) {
    .content {
        padding: 4% 3% 1% 3%;
    }
    .content-left {
        display: none;
    }
    .content-right {
        width: 100%;
        position: relative;
    }
    .content-right .ctr-title .title {
        font-size: 30px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .content-right .form-group .show-verify {
        top: 8px;
    }
    .content-right .form-group label {
        font-size: 14px;
        line-height: 149%;
    }
    .error_message {
        font-size: 12px;
        line-height: 149%;
    }
    .cvp {
        display: block;
        margin: 10% 3% 5% 3%;
    }
    .content-right .back-home {
        display: none;
    }
    .btn-forgot-pass {
        font-weight: 400;
        font-size: 16px;
    }
    ::-webkit-input-placeholder {
        font-weight: 300;
        font-size: 14px;
        line-height: 149%;
        /* identical to box height, or 21px */
        letter-spacing: 0.25px;
        color: #C4C4C4;
    }
    .content-right .ctr-title .sub-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */
        letter-spacing: 0.25px;
        color: #2F2F2F;
    }
}