<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header_merchant.css">
    <link rel="stylesheet" href="../css/banner_merchant.css">
    <link rel="stylesheet" href="../css/chi_tiet_bai_viet_merchant.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cơm văn phòng</title>
</head>
 
<body>
    <div class="container">
        <div class="body">
            <div class="taskbar">
                <div class="dropdown">
                    <div class="body_drop">
                        <!-- <div class="drop_off"><button class="drop_offf"></button></div> -->
                        <div class="content_drop">
                            <div class="merchant_drop">
                                <div class="icon_merchant_drop"></div>
                                <div class="text"><a href="">Merchant</a></div>
                            </div>
                            <div class="login_drop"><a href="">Đăng ký </a><a class="will_none" href=""> / Đăng nhập</a></div>
                            <div class="danh_muc_drop">
                                <div class="tit_dm_dr"> <a>Danh mục</a></div>
                                <div class="icon_drop_dm"></div>
                                <div class="drop_danhmuc2">
                                    <a href="">
                                        <div class="news_dr all_dr">
                                            <div class="text_news_dr">Tin tức - sự kiện</div>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="cn_dr all_dr">
                                            <div class="text_cn_dr">Cẩm nang mùa dịch</div>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="ques_dr all_dr">
                                            <div class="text_ques_dr">Cẩm nang mùa dịch</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="thac_mac"><a href="">Thắc mắc</a></div>
                            <div class="lien_he"><a href="">Liên hệ</a></div>
                        </div>
                    </div>
                </div>
                <div class="logo"></div>
                <div class="merchant1">
                    <div class="icon_merchant1"></div>
                    <div class="text"><a href="">Merchant</a></div>
                </div>
                <div class="danh_muc"><a>Danh mục</a>
                    <div class="icon_drop"></div>
                    <div class="drop_danhmuc">
                        <a href="">
                            <div class="home all">
                                <div class="icon_home"></div>
                                <div class="text_home">Trang chủ</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="news all">
                                <div class="icon_news"></div>
                                <div class="text_news">Tin tức - sự kiện</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="cn all">
                                <div class="icon_cn"></div>
                                <div class="text_cn">Cẩm nang mùa dịch</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="ques all">
                                <div class="icon_ques"></div>
                                <div class="text_ques">Cẩm nang mùa dịch</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="huong_dan"><a href="">Hướng dẫn</a></div>
                <div class="tin_tuc"><a href="">Tin tức</a></div>
                <div class="register"><a href="">Đăng ký</a></div>
                <div class="login">
                    <div class="icon_login"></div>
                    <div class="text"><a href="">Đăng nhập</a></div>
                </div>

            </div>
            <div class="banner">
                <div id="slideshow">
                    <div class="slide-wrapper">
                        <div class="mySlides w3-animate-fading banner1"></div>
                        <div class="mySlides w3-animate-fading banner2"></div>
                        <div class="mySlides w3-animate-fading banner3"></div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="title_str">
                    <span>CÂU CHUYỆN NHÀ HÀNG</span>
                    <h2>Câu chuyện về Sườn Mười</h2>
                </div>
                <div class="box">
                    <div class="b01">
                        <div class="conntent">
                            <div class="imag"></div>
                            <div class="text_ct">
                                Khởi đầu từ mong muốn mang những bữa tiệc nướng BBQ tới bàn ăn gia đình với sự tiện lợi và chu đáo nhất, Sườn Mười được thành lập từ năm 2017 từ một căn bếp nhỏ chỉ bán Sườn nướng online. <br><br> Trải qua 4 năm phát triển
                                và nỗ lực không ngừng, chúng tôi đã trở thành thương hiệu sườn nướng BBQ được yêu thích hàng đầu tại thị trường Hà Nội.<br><br> “ Tại Sườn Mười, những tảng sườn được lựa chọn kỹ lưỡng, to, đều, dày thịt và
                                toàn bộ đều đạt tiêu chuẩn U.S.D.A choice. Có rất nhiều vị sốt cho bạn lựa chọn và chúng tôi cũng sẽ liên tục bổ sung những hương vị mới. Ngoài ra cũng có rất nhiều món ăn kèm, tráng miệng
                                cho bữa tiệc nướng thêm hoàn hảo ”<br><br> Luôn nỗ lực mang lại giá trị tiện lợi, chu đáo và trung thực cho khách hàng, chúng tôi không ngừng cải thiện về sản phẩm, phương thức đặt món, phương thức thanh toán và nhiều
                                tiện ích gia tăng khác. Trải nghiệm sườn nướng tại Sườn Mười đã ngày càng tốt hơn và sẽ không dừng lại.<br><br> Mặc dù vậy chúng tôi luôn ý thức rằng mình còn có thể làm tốt hơn, phục vụ khách hàng chu đáo hơn.
                                Đội ngũ Sườn Mười vẫn luôn nỗ lực và sẵn sàng lắng nghe mọi ý kiến phản hồi, đóng góp để có thể phục vụ khách hàng ngày một tốt hơn nữa
                            </div>
                        </div>
                        <div class="conntent">
                            <div class="imag"></div>
                            <div class="text_ct">
                                Khởi đầu từ mong muốn mang những bữa tiệc nướng BBQ tới bàn ăn gia đình với sự tiện lợi và chu đáo nhất, Sườn Mười được thành lập từ năm 2017 từ một căn bếp nhỏ chỉ bán Sườn nướng online. <br><br> Trải qua 4 năm phát triển
                                và nỗ lực không ngừng, chúng tôi đã trở thành thương hiệu sườn nướng BBQ được yêu thích hàng đầu tại thị trường Hà Nội.<br><br> “ Tại Sườn Mười, những tảng sườn được lựa chọn kỹ lưỡng, to, đều, dày thịt và
                                toàn bộ đều đạt tiêu chuẩn U.S.D.A choice. Có rất nhiều vị sốt cho bạn lựa chọn và chúng tôi cũng sẽ liên tục bổ sung những hương vị mới. Ngoài ra cũng có rất nhiều món ăn kèm, tráng miệng
                                cho bữa tiệc nướng thêm hoàn hảo ”<br><br> Luôn nỗ lực mang lại giá trị tiện lợi, chu đáo và trung thực cho khách hàng, chúng tôi không ngừng cải thiện về sản phẩm, phương thức đặt món, phương thức thanh toán và nhiều
                                tiện ích gia tăng khác. Trải nghiệm sườn nướng tại Sườn Mười đã ngày càng tốt hơn và sẽ không dừng lại.<br><br> Mặc dù vậy chúng tôi luôn ý thức rằng mình còn có thể làm tốt hơn, phục vụ khách hàng chu đáo hơn.
                                Đội ngũ Sườn Mười vẫn luôn nỗ lực và sẵn sàng lắng nghe mọi ý kiến phản hồi, đóng góp để có thể phục vụ khách hàng ngày một tốt hơn nữa
                            </div>
                        </div>
                    </div>
                    <div class="b02">
                        <div class="tit_b02">Tin cùng chuyên mục</div>
                        <div class="tong">
                            <div class="ct_bo2">
                                <div class="img"></div>
                                <div class="text">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="ct_bo2">
                                <div class="img"></div>
                                <div class="text">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="ct_bo2">
                                <div class="img"></div>
                                <div class="text">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="ct_bo2">
                                <div class="img"></div>
                                <div class="text">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="ct_bo2">
                                <div class="img"></div>
                                <div class="text">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>

</html>