<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header_merchant_login.css">
    <title>Cơm văn phòng</title>
</head>

<body>
    <div class="container">
        <div class="body">
            <div class="taskbar">
                <div class="dropdown">
                    <div class="body_drop">
                        <!-- <div class="drop_off"><button class="drop_offf"></button></div> -->
                        <div class="content_drop">
                            <div class="login_drop"><a href="">Trang chủ</a></div>
                            <div class="danh_muc_drop">
                                <div class="tit_dm_dr"> <a>Danh mục</a></div>
                                <div class="icon_drop_dm"></div>
                                <div class="drop_danhmuc2">
                                    <a href="">
                                        <div class="news_dr all_dr">
                                            <div class="text_news_dr">Tin tức - sự kiện</div>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="cn_dr all_dr">
                                            <div class="text_cn_dr">Cẩm nang mùa dịch</div>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="ques_dr all_dr">
                                            <div class="text_ques_dr">Cẩm nang mùa dịch</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="thac_mac"><a href="">Thắc mắc</a></div>
                            <div class="lien_he"><a href="">Liên hệ</a></div>
                            <div class="lien_he tk"><a href="">Thống kê</a></div>
                            <div class="lien_he today"><a href="">Đơn hàng hôm nay</a></div>
                            <div class="lien_he str"><a href="">Lịch sử đơn hàng</a></div>
                            <div class="lien_he prof"><a href="">Quản lý hồ sơ</a></div>
                            <div class="lien_he logout"><a href="">Đăng xuất</a></div>
                        </div>
                    </div>
                </div>
                <div class="logo"></div>
                <div class="merchant1">
                    <div class="icon_merchant1"></div>
                    <div class="text"><a href="">Merchant</a></div>
                </div>
                <div class="huong_dan"><a href="">Hướng dẫn</a></div>
                <div class="notifi">
                    <div class="cham_noti"></div>
                    <div class="notifi_drop">
                        <div class="title_noti">
                            <h2>Thông báo</h2>
                            <a>
                                <div class="read"><span>Đánh dấu tất cả đã đọc</span></div>
                            </a>
                        </div>
                        <div class="viu_all"><a href="">Xem tất cả</a></div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                        <div class="content_noti">
                            <div class="ct_01"><span></span><img src="" alt=""></div>
                            <div class="ct_02">
                                <h2>Sườn Mười</h2>
                                <span>MĐH: 355KCS</span>
                                <a>1 phút</a>
                            </div>
                            <div class="ct_03">Đơn hàng của bạn đã được nhà hàng xác nhận ! Vui lòng nhận hàng trong ít phút.</div>
                        </div>
                    </div>
                </div>
                <div class="profile">
                    <div class="avatar"><img src="" alt=""></div>
                    <div class="name"><span>Đặng Văn Minh</span>
                        <a>
                            <div class="menu_pro">
                                <div class="b1">
                                    <span>Lịch sử mua hàng</span>
                                </div>
                                <div class="b2">
                                    <span>Cập nhật thông tin</span>
                                </div>
                                <div class="b3">
                                    <span>Đăng xuất</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>