<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header_merchant.css">
    <link rel="stylesheet" href="../css/banner_merchant.css">
    <link rel="stylesheet" href="../css/index_merchant.css">
    <link rel="stylesheet" href="../css/huongdan_dishhost.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cơm văn phòng</title>
</head>

<body>
    <div class="container">
        <div class="body">
            <div class="taskbar">
                <div class="dropdown">
                    <div class="body_drop">
                        <!-- <div class="drop_off"><button class="drop_offf"></button></div> -->
                        <div class="content_drop">
                            <div class="merchant_drop">
                                <div class="icon_merchant_drop"></div>
                                <div class="text"><a href="">Merchant</a></div>
                            </div>
                            <div class="login_drop"><a href="">Đăng ký </a><a class="will_none" href=""> / Đăng nhập</a></div>
                            <div class="danh_muc_drop">
                                <div class="tit_dm_dr"> <a>Danh mục</a></div>
                                <div class="icon_drop_dm"></div>
                                <div class="drop_danhmuc2">
                                    <a href="">
                                        <div class="news_dr all_dr">
                                            <div class="text_news_dr">Tin tức - sự kiện</div>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="cn_dr all_dr">
                                            <div class="text_cn_dr">Cẩm nang mùa dịch</div>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="ques_dr all_dr">
                                            <div class="text_ques_dr">Cẩm nang mùa dịch</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="thac_mac"><a href="">Thắc mắc</a></div>
                            <div class="lien_he"><a href="">Liên hệ</a></div>
                        </div>
                    </div>
                </div>
                <div class="logo"></div>
                <div class="merchant1">
                    <div class="icon_merchant1"></div>
                    <div class="text"><a href="">Merchant</a></div>
                </div>
                <div class="danh_muc"><a>Danh mục</a>
                    <div class="icon_drop"></div>
                    <div class="drop_danhmuc">
                        <a href="">
                            <div class="home all">
                                <div class="icon_home"></div>
                                <div class="text_home">Trang chủ</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="news all">
                                <div class="icon_news"></div>
                                <div class="text_news">Tin tức - sự kiện</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="cn all">
                                <div class="icon_cn"></div>
                                <div class="text_cn">Cẩm nang mùa dịch</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="ques all">
                                <div class="icon_ques"></div>
                                <div class="text_ques">Cẩm nang mùa dịch</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="huong_dan"><a href="">Hướng dẫn</a></div>
                <div class="tin_tuc"><a href="">Tin tức</a></div>
                <div class="register"><a href="">Đăng ký</a></div>
                <div class="login">
                    <div class="icon_login"></div>
                    <div class="text"><a href="">Đăng nhập</a></div>
                </div>

            </div>
            <div class="banner">
                <div id="slideshow">
                    <div class="slide-wrapper">
                        <div class="mySlides w3-animate-fading banner1"></div>
                        <div class="mySlides w3-animate-fading banner2"></div>
                        <div class="mySlides w3-animate-fading banner3"></div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="tutorial_use">
                    <div class="title_use">
                        <h2>Hướng dẫn sử dụng Cơm văn phòng - Vieclam123</h2>
                    </div>
                    <div class="use_all">
                        <div class="box1_use">
                            <div class="banner_use"></div>
                            <div class="tit_content">
                                <h2>Các bước tạo hồ sơ người bán trên cơm văn phong - viec...</h2>
                                <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                            </div>
                        </div>
                        <div class="box2_use">
                            <div class="list_use">
                                <div class="img_use"></div>
                                <div class="content_use">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="list_use">
                                <div class="img_use"></div>
                                <div class="content_use">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="list_use">
                                <div class="img_use"></div>
                                <div class="content_use">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view_all"><a href="">Xem tất cả</a></div>
                </div>
                <div class="news_merchant">
                    <div class="title_news_merchant">
                        <h2>Tin tức dành cho merchant</h2>
                    </div>
                    <div class="news_merchant_all">
                        <div class="box1_news_merchant">
                            <div class="banner_news_merchant"></div>
                            <div class="tit_content_mer">
                                <h2>Các bước tạo hồ sơ người bán trên cơm văn phong - viec...</h2>
                                <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                            </div>
                        </div>
                        <div class="box2_news_merchant">
                            <div class="list_news_merchant">
                                <div class="img_news_merchant"></div>
                                <div class="content_news_merchant">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="list_news_merchant">
                                <div class="img_news_merchant"></div>
                                <div class="content_news_merchant">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="list_news_merchant">
                                <div class="img_news_merchant"></div>
                                <div class="content_news_merchant">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view_all"><a href="">Xem tất cả</a></div>
                </div>
                <div class="question_al">
                    <div class="title_question">
                        <h2>Câu hỏi thường gặp</h2>
                    </div>
                    <div class="news_question">
                        <div class="box1_question">
                            <div class="banner_question"></div>
                            <div class="tit_question">
                                <h2>Các bước tạo hồ sơ người bán trên cơm văn phong - viec...</h2>
                                <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                            </div>
                        </div>
                        <div class="box2_question">
                            <div class="list_question">
                                <div class="img_question"></div>
                                <div class="content_question">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="list_question">
                                <div class="img_question"></div>
                                <div class="content_question">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                            <div class="list_question">
                                <div class="img_question"></div>
                                <div class="content_question">
                                    <h2>Cơm văn phòng - Vieclam123 chính thức có mặt tại Hà Nội</h2>
                                    <span>Quý đối tác thân mến, sau khi thành công khai trương .....</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view_all"><a href="">Xem tất cả</a></div>
                </div>
                <div class="partner">
                    <div class="title_partner">
                        <h2>Đối tác nói gì về cơm văn phòng - vieclam123</h2>
                    </div>
                    <div class="content_partner">
                        <div class="block">
                            <div class="block_on">
                                <div class="img"></div>
                                <div class="tit_block">
                                    <h2>Sườn Mười</h2>
                                    <div class="evaluae">
                                        <span>Đánh giá</span>
                                        <div class="star">
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block_under"><span>Website tiện lợi, giúp chúng tôi tiếp cận khách hàng nhanh hơn</span></div>
                        </div>
                        <div class="block">
                            <div class="block_on">
                                <div class="img"></div>
                                <div class="tit_block">
                                    <h2>Sườn Mười</h2>
                                    <div class="evaluae">
                                        <span>Đánh giá</span>
                                        <div class="star">
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block_under"><span>Website tiện lợi, giúp chúng tôi tiếp cận khách hàng nhanh hơn</span></div>
                        </div>
                        <div class="block">
                            <div class="block_on">
                                <div class="img"></div>
                                <div class="tit_block">
                                    <h2>Sườn Mười</h2>
                                    <div class="evaluae">
                                        <span>Đánh giá</span>
                                        <div class="star">
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                            <div class="star1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block_under"><span>Website tiện lợi, giúp chúng tôi tiếp cận khách hàng nhanh hơn</span></div>
                        </div>
                    </div>
                </div>
                <div class="tutorial">
                    <div class="tu_title">
                    </div>
                    <div class="tu_content">
                        <div class="video"></div>
                        <div class="question">
                            <div class="chtg">
                                <button>Câu hỏi thường gặp ?</button>
                            </div>
                            <div class="title">Đặt câu hỏi cho Cơm Văn Phòng - Vieclam123</div>
                            <input class="input" type="text" placeholder="Họ và tên">
                            <input class="input" type="text" placeholder="Email">
                            <textarea class="input_2" type="text" placeholder="Viết câu hỏi của bạn"></textarea>
                            <input class="input_cap" type="text" placeholder="Nhập mã captcha">
                            <div class="captcha"><span>CaptCha</span></div>
                            <div class="load"><button></button></div>
                            <div class="send_mail_div"><button class="send_mail">
                                <div class="text">GỬI EMAIL</div>
                                <div class="icon"></div>
                            </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="footer_body">
        <div class="footer_on">
            <div class="fot_01">
                <div class="logo_fot"></div>
                <div class="contact">
                    <div class="fb"></div>
                    <div class="in"></div>
                    <div class="twiter"></div>
                    <div class="yt"></div>
                </div>
            </div>
            <div class="fot_02">
                <h2>Công ty TNHH Nguồn Lực Thanh Xuân</h2>
                <div class="hotline ct">
                    <div class="icon_hot"></div>
                    <span>Hotline: 0889.154.226</span>
                </div>
                <div class="email ct">
                    <div class="icon_email"></div>
                    <span>Email hỗ trợ: jobthanhxuan@gmail.com</span>
                </div>
                <div class="add ct">
                    <div class="icon_add"></div>
                    <span>Địa chỉ: Thôn 4, Xã Nhân Khang, Huyện Lý Nhân, Tỉnh Hà Nam</span>
                </div>
                <div class="company ct">
                    <div class="icon_company"></div>
                    <span>Văn phòng: Chung cư AZ, KĐT Định Công, Hoàng Mai, Hà Nội</span>
                </div>
            </div>
            <div class="fot_03">
                <h3>DANH SÁCH VIỆC LÀM</h3>
                <div class="dsvl"><a href="">Việc làm theo ngành nghề</a></div>
                <div class="dsvl"><a href="">Việc làm theo địa điểm</a></div>
                <div class="dsvl"><a href="">Việc làm hấp dẫn</a></div>
                <div class="dsvl"><a href="">Việc làm tuyển gấp</a></div>
                <div class="dsvl"><a href="">Việc làm lương cao</a></div>
            </div>
            <div class="fot_04">
                <h3>DANH SÁCH ỨNG VIÊN</h3>
                <div class="dsuv"><a href="">Ứng viên theo ngành nghề</a></div>
                <div class="dsuv"><a href="">Ứng viên theo địa điểm</a></div>
                <div class="dsuv"><a href="">Ứng viên theo loại hình</a></div>
                <div class="dsuv"><a href="">Ứng viên theo trình độ</a></div>
                <div class="dsuv"><a href="">Ứng viên theo kinh nghiệm</a></div>
            </div>
            <div class="fot_05">
                <h4>Giới thiệu</h4>
                <div class="intro"><a href="">Về chúng tôi</a></div>
                <div class="intro"><a href="">Phúc lợi công ty</a></div>
                <div class="intro"><a href="">Liên hệ</a></div>
            </div>
        </div>
        <div class="footer_un">
            <div class="certify"></div>
            <div class="security"></div>
        </div>
    </div>
</footer>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>

</html>